*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

p.head{
    text-align: center;
    color: white;
}

.parallax{
    top: -40px;
    width: 1509px;
    left: -10px;
    position: absolute;
    height: 45rem;
    z-index: -1;
}

#navi{
    background-color: #383E4C;
    width: 100pvh;
    height: 100px;
}

#navigation-buttons{
    display: flex;
    flex: 1;
    justify-content: center;
    list-style: none;
}

#navigation-buttons li{
    height: 65px;
    width: 150px;
    padding: 25px;
    cursor: pointer;
}

#navigation-buttons a{
    text-decoration: none;
    color: white;
    /*padding-left: 10px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: 1px solid #646d7c;
    margin-right: 15px;
    margin-top: 10px;
}

#navigation-buttons li:hover{
    background-color: #49505F;
}

#title{
    font-size: 75px;
    margin-top: 165px;
    text-shadow: 2px 2px black;
}

#sub-title{
    font-size: 30px;
    text-shadow: 1px 1px black;
}
