*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button{
    border-radius: 8px;
    box-shadow: none;
}

p.head{
    text-align: center;
    color: white;
}

.parallax{
    top: -40px;
    width: 1509px;
    left: -10px;
    position: absolute;
    height: 45rem;
    z-index: -1;
}

.columns{
    position: relative;
    margin-top: 22%;
    display: flex;
    flex: 1;
    margin-left: 10vh;
    color: #333333;
}

.column{
    width: 360px;
    margin-left: 60px;
    background: #F2F2F2
}

.col-text{
    padding: 20px;
}

#navi{
    background-color: #383E4C;
    width: 100pvh;
    height: 90px;
}

#navigation-buttons{
    display: flex;
    flex: 1;
    justify-content: center;
    list-style: none;
}

#navigation-buttons li{
    height: 65px;
    width: 150px;
    padding: 20px;
    cursor: pointer;
}

#navigation-buttons a{
    text-decoration: none;
    color: white;
    /* padding-left: 10px; */
    font-size: 20px;
    border: 1px solid #646d7c;
    margin-right: 15px;
    margin-top: 10px;
}

#navigation-buttons a:hover{
    background-color: #49505F;
}

#title{
    font-size: 75px;
    margin-top: 165px;
    text-shadow: 2px 2px black;
}

#sub-title{
    font-size: 30px;
    text-shadow: 1px 1px black;
}

button.btn-col{
    width: 45%;
    height: 50px;
    margin-left: 27%;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
