*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-bar{
    background: #0d1217;
    height: 100%;
    width: 60px;
    position: fixed;
}

#menu{
    list-style: none;
}

li.menu-item{
    margin-top: 30px;
    margin-left: 15px;
}

li.menu-item a i{
    color: rgba(255, 255, 255, 0.5);
}

li.menu-item a i:hover{
    color: white;
}